<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
data-sly-call="${clientlib.all @ categories=['career.footer']}"/>

<html>
<head>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">




</head>
<body>

<div class="social-links">
<div class="elements">
<a x-cq-linkchecker="skip" target="_blank" href="https://www.facebook.com/publicisgroupe"><i class="fab fa-facebook-f"></i></a>
<a x-cq-linkchecker="skip" target="_blank" href="https://twitter.com/publicisgroupe"><i class="fab fa-twitter"></i></a>
<a x-cq-linkchecker="skip" target="_blank" href="https://www.instagram.com/publicisgroupe/"> <i class="fab fa-instagram"></i></a>
<a x-cq-linkchecker="skip" target="_blank" href="https://www.linkedin.com/company/publicis-groupe"><i class="fab fa-linkedin-in"></i></a>
<a x-cq-linkchecker="skip" target="_blank" href="https://www.youtube.com/user/PublicisGroupe"> <i class="fab fa-youtube"></i></a>



</div>
</div>



<hr>



<footer class="footer">
<div class="container">
<div class="foot_menu">
<h3>${properties.text}</h3>
<ul>
<li><a x-cq-linkchecker="skip" target="_blank" href= "${properties.link1}">${properties.text5}</a></li>



<li><a x-cq-linkchecker="skip" target="_blank" href="${properties.link2}">${properties.text6}</a></li>



<li><a x-cq-linkchecker="skip" target="_blank" href="${properties.link3}">${properties.text7}</a></li>
</ul>
</div>
<div class="foot_menu">
<h3>${properties.text1}</h3>
<ul>
<li><a x-cq-linkchecker="skip" target="_blank" href="${properties.link4}">${properties.text8}</a></li>



<li><a x-cq-linkchecker="skip" target="_blank" href="${properties.link5}">${properties.text9}</a></li>

<li><a x-cq-linkchecker="skip" target="_blank" href="${properties.link6}">${properties.text10}</a></li>
<li><a x-cq-linkchecker="skip" target="_blank" href="${properties.link7}">${properties.text11}</a></li>
<li><a x-cq-linkchecker="skip" target="_blank" href="${properties.link8}">${properties.text12}</a></li>
<li><a x-cq-linkchecker="skip" target="_blank" href="${properties.link9}">${properties.text13}</a></li>
</ul>
</div>
<div class="foot_menu">
<h3>${properties.text2column}</h3>
</div>
<div class="foot_menu">
<h3>${properties.text3}</h3>
<ul>
<li><a x-cq-linkchecker="skip" target="_blank" href="${properties.link10}">${properties.text14}</a></li>



<li><a x-cq-linkchecker="skip" target="_blank" href="${properties.link11}">${properties.text15}</a></li>

<li><a x-cq-linkchecker="skip" target="_blank" href="${properties.link12}">${properties.text16}</a></li>
<li><a x-cq-linkchecker="skip" target="_blank" href="${properties.link13}">${properties.text17}</a></li>
</ul>
</div>
<div class="foot_menu_media">
<h3>${properties.text4}</h3>
<ul>
<li><a x-cq-linkchecker="skip" target="_blank" href="${properties.link14}"><b>${properties.text18}</b></a></li>



<li><a x-cq-linkchecker="skip" target="_blank" href="${properties.link15}"><b>${properties.text19}</b></a></li>

<li><a x-cq-linkchecker="skip" target="_blank" href="${properties.link16}"><b>${properties.text20}</b></a></li>
</ul>
</div>
</div>



<div class="bdr">
<hr>
</div>



<div class="copyright">
<img src="${properties.fileReference}" alt="logo">
<p>COPYRIGHT © 2019 PUBLICIS GROUPE</p>
<p>ALL RIGHTS RESERVED</p>
</div>



</footer>
</body>
</html>

